footer {
  font-size: 14px;
  font-family: 'Azeret Mono', monospace;
  background: var(--yellow);;
}
footer .container {
  margin: 0 auto;
  max-width: 1440px;
}
.copyright {
  font-size: 10px;
  color: gray;
  padding: 50px 15px 20px;
  text-align: center;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 15px 10px;
}
@media (max-width: 556px) {
  .footer-wrapper {
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
  }
  .infos {
    width: 100%;
    padding-bottom: 30px;
  }
  .infos:last-child {
    padding-bottom: 0;
  }
}