.Logos {
  background: #f6ea8c;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Logos h1 {
  font-family: "Decima Mono Bold";
  padding: 20px 0;
}
